In [15]:
# import the nessecary modules
import csv
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
response = requests.get('https://diwanegypt.com/product-category/books/english-books/')
soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
page_numbers = soup.find_all('a', attrs = {'class' : 'page-numbers'})
last = int(page_numbers[-2].get_text())
last

225

In [4]:
names_total = []
authors_total = []
prices_total = [] 
for i in range(2, last+1):
    for i in soup.find_all('h2', attrs = {'class':"woocommerce-loop-product__title"}):
        name = i.get_text()
        names_total.append(name)
    for i in soup.find_all('span', attrs = {'class': 'author'}):
        author = i.get_text()
        authors_total.append(author)
    for i in soup.find_all("bdi"):
        prices_total.append(float(''.join(i.get_text()[3:].split(','))))
    response = requests.get('https://diwanegypt.com/product-category/books/english-books/'+'page/'+str(i)+'/')
    soup = BeautifulSoup(response.text, 'html.parser')

# append urls of all the english books to the urls list

In [5]:
len(names_total)

2800

In [6]:
len(authors_total)

2800

In [7]:
len(prices_total)

2800

In [8]:
response = requests.get('https://diwanegypt.com/product-category/books/arabic-books/')
soup = BeautifulSoup(response.text, 'html.parser')
page_numbers = soup.find_all('a', attrs = {'class' : 'page-numbers'})
last = int(page_numbers[-2].get_text())
last

158

In [9]:
for i in range(2, last+1):
    
    for i in soup.find_all("ul",attrs= "products columns-5"):
        name_tag = i.find_all("h2",attrs = "woocommerce-loop-product__title")
        author_tag = i.find_all("span",attrs={'class':"author"})
        for names in name_tag :
            names_total.append(names.get_text())
        for author in author_tag:
            authors_total.append(author.get_text())
        for i in soup.find_all('bdi'):
            prices_total.append(float(''.join(i.get_text()[3:].split(','))))
    response = requests.get('https://diwanegypt.com/product-category/books/arabic-books'+'/page/'+str(i)+'/')
    soup = BeautifulSoup(response.text, 'html.parser')

In [10]:
len(names_total)

4775

In [11]:
len(authors_total)

4775

In [12]:
len(prices_total)

4776

In [14]:
with open('DiwanBooks.csv', encoding = 'utf-8', mode = 'w', newline = '') as f:
    writer = csv.DictWriter(f, fieldnames = ['BName', 'Author', 'Price'])
    writer.writeheader()
    for i in range(0,len(names_total)):
        writer.writerow({'BName':names_total[i], 'Author':authors_total[i], 'Price': prices_total[i]})

In [17]:
df = pd.read_csv('DiwanBooks.csv')

In [18]:
df.head()

                         BName                     Author  Price
0               Creative Habit  Twyla Tharp & Mark Reiter  120.0
1        Ernst Ludwig Kirchner          Thorsten Sadowsky  285.0
2          How to Read a Dress              Lydia Edwards  690.0
3  Principles for Dealing with                  Ray Dalio  725.0
4             Self Love Oracle                Akal Pritam  480.0

In [19]:
df.tail()

                                BName            Author  Price
4770          هارى بوتر وسجين ازكابان      ج. ك. رولينج   80.0
4771                      أشياء رائعة        ريم بسيونى   55.0
4772  خالد بن الوليد سيف الله المسلول  منصور عبد الحكيم   70.0
4773           أحجار على رقعة الشطرنج     وليام جاى كار  100.0
4774          هارى بوتر وحجرة الأسرار      ج. ك. رولينج   75.0